body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 10px;

}
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.header {
    background: #0056B3;
    color: #fff;
    padding: 20px 0;
    min-height: 60px;
    border-bottom: #77aaff 3px solid;

}

.header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section {

    background: #fff;
    padding: 20px;
    margin-top: 20px;
    width: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.btn-decline {
    margin-top: 20px;
    display: inline-block;
    background: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table-fix{
    overflow-x: auto;

}

.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}


.form-group textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #555;
}

.alert {
    margin: 20px 0;
    padding: 20px;
    background-color: #1e9113;
    color: white;
    text-align: center;
}

.alert.success {
    background-color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
   display: flex;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

@media (max-width: 600px) {
    th, td {
        font-size: 14px;
        padding: 8px;
    }
}

.logoutButton {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.profile-section-class {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoutButton:hover {
    background-color: #ff0000;
}

.logoutButton:active {
    background-color: #003f7f;
}
.round-button {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}



.round-button:hover {
    background-color: #1e9113;
}

.round-button:active {
    background-color: #003f7f;
}


.round-button:hover {
    background-color: #1e9113;
}

.round-button:active {
    background-color: #003f7f;
}



/* Responsive Styles *